html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Sticky Footer Start */
html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}
/* Sticky Footer End */

a {
	text-decoration: none;
}

p {
	margin: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

figure {
	margin: 0;
}
address{
	font-style: normal;
}

button {
	cursor: pointer;
}

body {
	@extend %f400;
	font-size: 16px;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0px auto;
}