@import 'vars';
@import 'global';
@import 'fonts';

/* Header Start */
.header {
	&__top {
		background-color: #eef1f3;
	}

	&__top-inner {
		@extend %flex-space-between;
		min-height: 100px;
	}

	&__logo-link {
		display: block;
	}

	&__user-info {
		@extend %flex-space-between;
	}
}

.user-btn {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 18px;
	padding: 4px 18px;
	background-color: $blue;
	color: #ffffff;
	font-size: 14px;
	line-height: 28px;
	transition: all .5s;

	&:hover,
	&:focus {
		background-color: $blue-hover;
	}
}

.user-cabinet {
	@extend %flex-space-between;
	margin-left: 30px;

	&__status-link {
		display: block;
		position: relative;
		z-index: 1;
		width: 35px;
		height: 35px;
		margin-left: 10px;

		&:after {
			@extend %icon;
			content: "\e950";
			color: $gray-dark;
			font-size: 20px;
			top: 7px;
			left: 7px;
			transition: .4s;
		}

		&:hover:after,
		&:focus:after {
			color: #000;
		}

		&:hover .user-cabinet__status-num,
		&:focus .user-cabinet__status-num {
			background-color: #000;
			color: #fff;
		}

		&--alarm:after {
			content: "\e950";
		}

		&--envelope:after {
			content: "\f003";
		}

		&--cart:after {
			content: "\e93a";
		}
	}

	&__status-num {
		position: absolute;
		z-index: 5;
		border-radius: 50%;
		color: #ffffff;
		@extend %f500;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
		padding: 3px 6px;
		top: -2px;
		right: -10px;
		transition: .5s;

		&--red {
			background-color: $red;
		}

		&--green {
			background-color: $green;
		}

		&--blue {
			background-color: $blue;
		}
	}

	&__img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		font-size: 0;
		@extend %back-image;
		margin: 0px 22px 0px 30px;
		transition: all 1s;
		opacity: 1;

		&:hover,
		&:focus {
			opacity: .5;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__name {
		@extend %f500;
		color: $text-secondary;
		line-height: 22px;
		margin-bottom: 5px;
		transition: all .3s;

		&:hover,
		&:focus {
			color: $red;
		}
	}

	&__balance {
		font-size: 15px;
		color: $blue;
	}
}

.header {

	&__bottom-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 80px;
	}


	&__menu-list {
		font-size: 0;
	}

	&__menu-item {
		display: inline-block;

		+.header__menu-item {
			margin-left: 30px;
		}
	}

	&__menu-link {
		font-size: 15px;
		@extend %f500;
		line-height: 42px;
		text-transform: uppercase;
		color: $text-secondary;
		transition: .5s ease;

		&:hover,
		&:focus {
			background-color: $text-secondary;
			color: #fff;
		}
	}

	&__search {
		max-width: 360px;
		width: 100%;
		position: relative;
	}

	&__search-input {
		display: block;
		width: 100%;
		height: 46px;
		border-radius: 23px;
		border: 1px solid #d9dfe5;
		outline: transparent;
		padding: 0 80px 0 25px;
		transition: .5s ease;

		&::placeholder {
			color: #898f96;
			@extend %f400;
			line-height: 30px;
		}

		&:hover,
		&:focus {
			border: 2px solid #d9dfe5;
		}
	}

	&__search-btn {
		position: absolute;
		width: 70px;
		height: 46px;
		border-radius: 23px;
		background-color: $blue;
		border: none;
		outline: transparent;
		background-repeat: no-repeat;
		background-position: center;
		top: 0;
		right: 0;
		transition: .5s ease;

		&:hover,
		&:focus {
			background-color: $blue-hover;
		}

		&:after {
			content: "\e986";
			@extend %icon;
			font-size: 20px;
			color: #fff;
			top: 13px;
			left: 27px;
		}
	}
}

/* Header End */
/* Tagline Start */
.tagline {
	min-height: 726px;
	background-color: #441c7c;
	background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
	opacity: 0.8;
	position: relative;

	&__inner {
		text-align: center;
		color: #f3f3f8;
	}

	&__title {
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
		color: #f3f3f8;
		font-size: 60px;
		line-height: 70px;
		@extend %f700;
		padding-top: 185px;
		margin: 0 auto;

		p {
			@extend %f400;
		}
	}

	&__subtitle {
		@extend %f500;
		font-size: 20px;
		line-height: 72px;
		margin-bottom: 68px;
	}

	&__link {
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		border-radius: 28px;
		border: 1px solid #ffffff;
		padding: 20px 30px;
		color: #ffffff;
		line-height: 72px;
		margin: 15px;
		transition: all .5s;

		&--active {
			background-color: #ffffff;
			color: $blue;

			&:hover,
			&:focus {
				background-color: transparent;
				color: #ffffff;
			}
		}

		&--disable {

			&:hover,
			&:focus {
				background-color: #ffffff;
				color: $blue;
			}
		}
	}
}

.search-products {
	position: absolute;
	z-index: 10;
	bottom: calc(-135px / 2);
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 1140px;
	height: 135px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
	background-color: #ffffff;

	&:before,
	&:after {
		content: '';
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 1110px;
		height: 100%;
		border-radius: 6px;
		background-color: #ffffff;
		opacity: 0.5;
	}

	&:before {
		top: -13px;
	}

	&:after {
		top: -26px;
		width: 1080px;
	}

	&__input {
		position: relative;
		z-index: 10;
		border-radius: 4px 0 0 4px;
		border: 1px solid $gray-light;
		display: block;
		width: 612px;
		height: 55px;
		margin: 40px 0 40px 40px;
		outline: transparent;
		padding: 0 220px 0 30px;

		&:hover,
		&:focus {
			border: 2px solid $gray-light;
		}

		&::placeholder {
			color: $gray-dark;
		}
	}

	&__select {
		position: absolute;
		z-index: 10;
		top: 40px;
		right: 294px;

		select {
			z-index: 10;
			width: 194px;
			height: 55px;
			appearance: none;
			color: $text-accent;
			outline: transparent;
			border: 1px solid $gray-light;
			border-radius: 0 4px 4px 0;
			border-left: none;
			padding: 0 20px 0 20px;

			&:hover,
			&:focus {
				border: 2px solid $gray-light;
			}
		}

		&:after {
			content: "\f107";
			@extend %icon;
			top: 23px;
			right: 21px;
			font-size: 12px;
			color: $gray-dark;
			pointer-events: none;
		}
	}

	&__btn {
		position: absolute;
		z-index: 10;
		top: 40px;
		right: 40px;
		color: #ffffff;
		border: none;
		padding: 6px 68px;
		line-height: 42px;
		border-radius: 4px;
		height: 55px;
		background-color: #0674ec;
		transition: .5s;

		&:hover,
		&:focus {
			background-color: $blue-hover;
		}
	}
}



/* Tagline End */
/* Advantages Start */
.advantages {

	&__inner {
		margin: 186px 0 121px;
		@extend %flex-space-between;
	}

	&__item {
		text-align: center;
		padding: 0 35px;
		transition: all 1s;

		&:hover,
		&:focus {
			box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
			border-radius: 4px;
		}

	}

	&__item-image {
		max-width: 113px;
		max-height: 120px;
		object-fit: cover;
		margin: 41px 0 29px;
	}

	&__item-title {
		color: #010101;
		font-size: 24px;
		line-height: 7.2px;
		margin-bottom: 29px;
	}

	&__item-text {
		color: $text-accent;
		line-height: 30px;
		margin-bottom: 49px;
	}
}

/* Advantages End */
/* Featured products Start */

.featured-products {
	padding: 120px 0px;
	background-color: #eff1f5;

	&__title {
		box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
		border-radius: 4px;
		background-color: #ffffff;
		color: #000000;
		font-size: 30px;
		line-height: 28px;
		padding: 41px 0px 40px 29px;
		margin-bottom: 50px;
		position: relative;

		&:after {
			content: "";
			width: 110px;
			height: 45px;
			border-radius: 23px;
			background-color: #7347c1;
			position: absolute;
			top: 33px;
			right: 30px;
		}
	}

	&__item {
		display: flex !important;
	}

	&__image {
		display: block;
		min-height: 450px;
		flex: 50%;
		font-size: 0;
		@extend %back-image;
		position: relative;
		transition: .5s;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			background-color: rgb(145, 64, 64);
			opacity: 0;
		}

		&:hover,
		&:focus {
			opacity: .5;
		}
	}

	&__info {
		flex: 50%;
		padding: 0px 40px 0px 50px;
		line-height: 30px;
	}
}

.item-description {
	&__title {
		color: #000000;
		@extend %f500;
		font-size: 24px;
		display: block;
		margin: 40px 0 15px;
		transition: .5s;

		&:hover,
		&:focus {
			color: rgb(145, 64, 64);
		}
	}

	&__info--top {
		margin-bottom: 30px;
		display: flex;
		align-items: center;
	}

	&__author-img {
		border-radius: 50%;
		width: 30px;
		height: 30px;
		font-size: 0;
		@extend %back-image;
		margin-right: 9px;
		transition: .5s;

		&:hover,
		&:focus {
			transform: scale(1.2);
		}
	}

	&__author {
		color: #000000;
		font-size: 15px;
		margin-right: 21px;
		transition: .5s;

		&:hover,
		&:focus {
			color: rgb(145, 64, 64);
		}

	}

	&__topic {
		color: $violet;
		font-size: 15px;
		padding-left: 25px;
		position: relative;
		transition: .5s;

		&:hover,
		&:focus {
			color: rgb(145, 64, 64);
		}

		&:hover:before,
		&:focus:before {
			color: rgb(145, 64, 64);
		}

		&:before {
			content: '\f19a';
			@extend %icon;
			top: 0;
			left: 0;
			font-size: 16px;
			color: $violet;
			transition: .5s;
		}
	}

	&__text {
		color: $text-accent;
		margin-bottom: 35px;
	}

	&__hashtags {
		margin-bottom: 40px;
	}

	&__hashtag {
		display: inline-block;
		border-radius: 14px;
		background-color: #f1f3f6;
		color: #868c96;
		font-size: 15px;
		padding: 0px 14px;
		margin-right: 7px;
		border: 1px solid transparent;
		transition: .5s;

		&:hover,
		&:focus {
			color: rgb(145, 64, 64);
			border: 1px solid $text-secondary;
		}
	}

	&__info--bottom {
		border-top: 1px solid #ececec;
		@extend %f500;
		font-size: 15px;
		@extend %flex-space-between;
		padding: 24px 0px 24px;
	}

	&__price {
		color: #ffffff;
		border-radius: 16px;
		background-color: #0674ec;
		padding: 7px 19px;
		margin-right: 19px;
		border: 1px solid transparent;
		transition: .5s;

		&:hover,
		&:focus {
			color: #000;
			background-color: transparent;
			border: 1px solid $text-secondary;
		}
	}

	&__likes {
		padding-left: 26px;
		margin-right: 19px;
		position: relative;
		transition: .5s;

		&:hover,
		&:focus {
			color: rgb(145, 64, 64);
		}

		&:hover:before,
		&:focus:before {
			color: rgb(145, 64, 64);
		}

		&:before {
			content: '\f08a';
			@extend %icon;
			left: 0;
			font-size: 16px;
			color: $violet;
			transition: .5s;
		}
	}

	&__purchases {
		color: $blue;
		padding-left: 25px;
		position: relative;
		transition: .5s;

		&:hover,
		&:focus {
			color: rgb(145, 64, 64);
		}

		&:hover:before,
		&:focus:before {
			color: rgb(145, 64, 64);
		}

		&:before {
			content: '\e93a';
			@extend %icon;
			left: 0;
			font-size: 16px;
			color: $blue;
			transition: .5s;
		}
	}
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
	padding: 0;
	border: none;
	background-color: transparent;
	font-size: 0;
	position: absolute;
	outline: none;
	z-index: 5;
	top: -95px;
	cursor: pointer;
	transform: translateY(-50%);
	transition: .5s;
}

.slick-prev:after,
.slick-next:after {
	content: "\f107";
	@extend %icon;
	font-size: 30px;
	color: #fff;
	top: 0;
	left: 0;
}

.slick-arrow.slick-next {
	right: 70px;
	transform: rotate(-90deg);
}

.slick-arrow.slick-prev {
	right: 100px;
	top: -114px;
	transform: rotate(90deg);
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-prev:focus {
	transform: scale(1.2) rotate(90deg) translate(-2px, 5px);
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-next:focus {
	transform: scale(1.2) rotate(-90deg) translate(-2px, 5px);
}

/* Featured products End */
/* Release products Start */

.release-products {
	padding: 120px 0px;
	background-color: #f6f7fb;


	&__head {
		@extend %flex-space-between;
		box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
		border-radius: 4px;
		background-color: #ffffff;
		height: 110px;
		margin-bottom: 30px;
	}

	&__head-title {
		color: #000000;
		font-size: 30px;
		line-height: 28px;
		padding-left: 31px;
	}

	&__head-filter {
		color: #747b86;
		line-height: 32px;
		position: relative;
		cursor: pointer;
		display: flex;
		align-items: center;

		.icon-dots-three-vertical {
			margin: 0;
			padding: 0px 30px 0px 25px;
			background-color: transparent;
			border: none;
			color: #a3b1c4;
			font-size: 20px;
			outline: transparent;
		}
	}
}

.head-filter {
	&__list {
		position: absolute;
		left: -60px;
		top: 50px;
		box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
		border-radius: 3px;
		width: 183px;
		height: 179px;
		opacity: 0;
		padding: 20px;
		visibility: hidden;
		background-color: #ffffff;
		transform: translateY(-50px);
		transition: all .5s;

		&--active {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	&__item {
		color: #747b86;
		font-size: 15px;
		line-height: 28px;
		background-color: transparent;
		border: none;
		display: block;
		outline: transparent;
		margin: 0;
		padding: 0;

		&:hover,
		&:focus {
			color: #0674ec;
		}
	}
}

.release-products__controls {
	height: 92px;
	box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
	border-radius: 4px;
	background-color: #ffffff;
	@extend %flex-space-between;
	padding: 0px 113px 0px 30px;
	margin-bottom: 50px;

	&-btn {
		border: none;
		color: #747b86;
		font-size: 15px;
		line-height: 30px;
		margin: 0;
		padding: 5px 20px;
		border-radius: 16px;
		background-color: #f1f3f6;
		transition: all .5s;

		&:hover,
		&:focus {
			color: #fff;
			background-color: $blue;
		}
	}
}

.release-products__controls-btn.mixitup-control-active {
	color: #fff;
	background-color: $blue;
	outline: transparent;
}
.head-filter__item.mixitup-control-active {
	color: $blue;
	outline: transparent;
}


.release-products {
	&__inner {
		margin-bottom: 30px;
		@extend %flex-space-between;
		flex-wrap: wrap;
	}

	&__item {
		max-width: 361px;
		margin-bottom: 30px;
	}

	&__image {
		display: block;
		font-size: 0;
		width: 100%;
		min-height: 230px;
		position: relative;
		@extend %back-image;
		display: flex;
		align-items: center;
		justify-content: center;

		.hover-links {
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				border-radius: 4px 4px 0 0;
				background-color: #009688;
				background-image: linear-gradient(to left, #0674ec 0%, #7347c1 100%);
				z-index: 1;
				opacity: 0;
				transition: all 1s;
			}

			.hover__link {
				box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
				border-radius: 23px;
				background-color: #ffffff;
				color: #0674ec;
				font-size: 15px;
				@extend %f500;
				padding: 13px 28px;
				position: relative;
				z-index: 10;
				margin: 0px 5px;
				border: 1px solid transparent;
				transition: all 1s;
				opacity: 0;
				visibility: hidden;

				&:hover {
					color: #fff;
					background-color: transparent;
					border: 1px solid #fff;
				}
			}
		}
	}
}

.release-products__item {
	&:hover .hover-links:after {
		opacity: .9;
	}

	&:hover .hover__link {
		opacity: 1;
		visibility: visible;
	}
}

.release-products__inner .item-description {


	&__title {
		margin-top: 30px;
		font-size: 20px;
		padding: 0px 30px;
	}

	&__info--top {
		margin-bottom: 25px;
		padding: 0px 30px;
	}

	&__author-img {
		width: 28px;
		height: 28px;
	}

	&__text {
		line-height: 30px;
		margin-bottom: 25px;
		padding: 0px 30px;
	}

	&__info--bottom {
		height: 61px;
		padding: 0;
	}

	&__info--bottom-right {
		display: flex;
		align-items: center;
	}

	&__price {
		margin: 0px 30px;
		padding: 0;
		display: block;
		color: $blue;
		background-color: #fff;
		border: none;

		&:hover,
		&:focus {
			color: rgb(102, 38, 38);
			border: none;
		}
	}

	&__likes {
		padding-left: 24px;
		display: block;
		margin: 0 15px 0 0;

		&:before {
			top: -1px;
		}
	}

	&__rate {
		display: inline-block;
		padding: 0;
	}

	&__purchases {
		margin-right: 30px;
	}
}

.all-products__link {
	text-align: center;

	a {
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		border-radius: 28px;
		background-color: #0674ec;
		color: #ffffff;
		line-height: 72px;
		padding: 18px 33px;
		transition: all 1s;
		border: 1px solid transparent;

		&:hover,
		&:focus {
			color: $blue;
			background-color: transparent;
			border: 1px solid $blue;
		}

	}
}

/* Release products End */